{% extends 'main.html' %}
{% block content %}
<body style="background-image: url('/static/back_img.jpg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;"></body>
    <div class="row"  style="margin-bottom: 477px;">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <br><br><br>
            {% if prob >= 50 %}
                <div class="card card-body alert alert-danger"><center><span style="font-size: 24px;">Sorry! Please consult DOCTOR.</center></div>
                <div class="card card-body alert alert-danger"> <center><span style="font-size: 22px;">You have<span style="font-size: 28px;">{{ prob }}%</span> chance of getting this disease.</span></center></div>
                
            {% else %}
                <div class="card card-body alert alert-success"><center><span style="font-size: 24px;">Great! You are HEALTHY.</center></div>
                <div class="card card-body alert alert-success"> <center><span style="font-size: 22px;">You have <span style="font-size: 28px;">{{ prob }}% </span>chance of getting this disease.</span></center></div>
            {% endif %}
             <div class="row">
                <div class="col-md-12 card card-body" style="box-shadow: 0 0 5px black; margin: 5px;">
                     {% if disease == 'diabetes' %}
                        <h4>Diabetes</h4>
                        <p>Diabetes is a chronic condition that occurs when your blood glucose, commonly known as blood sugar, becomes excessively high. Blood glucose is the body's primary source of energy, derived from the food you consume. This energy is transported to your cells with the help of insulin, a vital hormone produced by the pancreas. Insulin facilitates the movement of glucose from your bloodstream into your cells, where it is utilized for energy. However, in diabetes, the body either doesn’t produce enough insulin, fails to produce it at all, or cannot use it effectively. As a result, glucose remains in the bloodstream, leading to elevated blood sugar levels and depriving your cells of the energy they need. Over time, this imbalance can cause severe health complications, affecting various organs and systems in the body.</p>
                        <h5>Symptoms</h5>
                        <li>Urinating often.</li>
                        <li>Feeling very thirsty.</li>
                        <li>Extreme fatigue.</li>
                        <li>Blurry vision.</li>
                     {% elif disease == 'heart' %}
                        <h4>Heart</h4>
                        <p>Heart disease refers to a range of conditions that affect the heart's structure and function, leading to impaired cardiovascular health. Common types include coronary artery disease, which involves the narrowing or blockage of blood vessels supplying the heart; arrhythmias, or irregular heart rhythms; and heart valve issues that disrupt normal blood flow. Heart disease often develops from the buildup of plaque in the arteries, known as atherosclerosis, caused by factors like poor diet, lack of exercise, smoking, high blood pressure, high cholesterol, and diabetes. Symptoms can vary but may include chest pain, shortness of breath, fatigue, dizziness, and swelling in the legs or feet. If untreated, it can result in complications such as heart attacks, heart failure, or strokes. Early detection, lifestyle changes, medications, and medical procedures can significantly manage and reduce risks associated with heart disease.</p>
                        <h5>Symptoms</h5>
                        <li>Chest Pain or Discomfort.</li>
                        <li>Shortness of Breath.</li>
                        <li>fatigue.</li>
                        <li>Swelling in the Legs, Ankles, or Feet (Edema).</li>
                     {% elif disease == 'kidney' %}
                        <h4>Chronic kidney disease</h4>
                        <p>Chronic kidney disease, also called chronic kidney failure, describes the gradual loss of kidney function. Your kidneys filter wastes and excess fluids from your blood, which are then excreted in your urine. When chronic kidney disease reaches an advanced stage, dangerous levels of fluid, electrolytes and wastes can build up in your body.</p>
                        <h5>Symptoms</h5>
                        <li>Nausea</li>
                        <li>Vomiting</li>
                        <li>Fatigue and weakness</li>
                        <li>Muscle twitches and cramps</li>
                     {% elif disease == 'liver' %}
                        <h4>Liver disease</h4>
                        <p>Liver disease refers to any condition that affects the liver’s ability to function properly. The liver is a vital organ that helps detoxify harmful substances, metabolize nutrients, produce proteins and hormones, and store energy. When the liver is damaged, it can lead to a variety of health problems. Common liver diseases include hepatitis (inflammation of the liver), fatty liver disease (excess fat buildup), cirrhosis (scarring of the liver tissue), and liver cancer. The causes of liver disease range from viral infections, alcohol consumption, obesity, and autoimmune disorders to genetic conditions. Symptoms of liver disease may include jaundice (yellowing of the skin and eyes), abdominal pain or swelling, fatigue, dark urine, and unexplained weight loss. Early detection and treatment are crucial in preventing further liver damage and complications.</p>
                        <h5>Symptoms</h5>
                        <li>Jaundice</li>
                        <li>Fatigue</li>
                        <li>Abdominal Pain or Swelling</li>
                        <li>Dark Urine</li>
                     {% endif %}
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"><a href="{{ url_for('home') }}" class="btn btn-block btn-primary">Back to Home</a></div>
                <div class="col-md-4"></div>
            </div>
            <br><br><br>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}